[package]
name = "sa-token-example"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
spring = { path = "../../spring" }
spring-web = { path = "../../spring-web" }
spring-sa-token = { path = "../../spring-sa-token" }
spring-sea-orm = { path = "../../spring-sea-orm", features = ["postgres"] }
sea-orm = { workspace = true, features = ["macros", "sqlx-postgres", "runtime-tokio-native-tls"] }
async-trait = { workspace = true }
tokio = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }