[package]
name = "autumn-sea-streamer"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
sea-streamer = { workspace = true }
