[package]
name = "web-example"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
spring = { path = "../../spring" }
spring-web = { path = "../../spring-web" }
spring-sqlx = { path = "../../spring-sqlx", features = ["postgres"] }
tokio = { workspace = true, features = ["full", "tracing"] }
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
jsonwebtoken = "8.3"
pem = "3.0"
lazy_static = "1.4"
axum-extra = { version = "0.9", features = ["typed-header"] }
tracing = { workspace = true }

# benchmark compare
axum = { workspace = true }
actix-web = "4"
ntex = { version = "2.0", features = ["tokio"] }
sqlx = { workspace = true, features = ["postgres"] }
