[package]
name = "apalis-redis-demo"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
spring = { path = "../../spring" }
spring-web = { path = "../../spring-web" }
spring-redis = { path = "../../spring-redis" }
spring-apalis = { path = "../../spring-apalis", features = ["redis", "board", "board-web"] }
tokio = { workspace = true, features = ["full"] }
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
